{% extends "base.twig" %}

{% block title %} Donor's registration form {% endblock %}

 {% block content %}
        	<!-- FORM MODULE --> 
    
    <div class="container">
    <div class="row">
    			    <form>
    			    <div class="threecol">
	        		<p>
	        		<label for="firstname">Name:</label><br />
	        		<input type="text" name="firstname" value="">
	        		</p>
        			</div>
	        		
	        		<div class="threecol">
	        		<p>
	        		<label for="lastname">Lastname:</label><br />
	        		<input type="text" name="lastname" value="">
	        		</p>
	        		</div>
	        		
	        		<div class="threecol">
	        		<p>
	        		<label for="email">Email:</label><br />
	        		<input type="email" name="email" value="">
	        		</p>
	        		</div>
	        		
	        		<div class="threecol last">
	        		<p>
	        		<label for="username">Username</label><br />
	        		<input type="text" name="username" value="">
	        		</p>
	        		</div>
	        		
	        		
	        		
	        		
	        		<div class="threecol">
	        		<p>
	        		<label for="gender">Gender:</label><br />
	        		<select name="gender">
	        			<option value="">Choose one.</option>
	        			<option value="1">Female</option>
	        			<option value="2">Male</option>
	        		</select>	
	        		</p>
	        		</div>
	        		
	        		<div class="threecol">
	        		<p>
	        		<label for="bloodtype">Blood Type</label><br />
	        		<select name="bloodtype">
	        			<option value="">Choose one.</option>
	        			<option value="1">A+</option>
	        			<option value="2">A-</option>
	        			<option value="3">B+</option>
	        			<option value="4">B-</option>
	        			<option value="5">AB+</option>
	        			<option value="6">AB-</option>
	        			<option value="7">O+</option>
	        			<option value="7">O-</option>
	        		</select>
	        		</p>
	        		</div>
	        		
	        		<div class="threecol">
	        		<p>
	        		<label for="mobile">Mobile</label><br />
	        		<input type="text" name="mobile" value="">
	        		</p>
	        		</div>
	        		
	        		<div class="threecol last">
	        		<p>
	        		<label for="location">Location</label><br />
	        		<input type="text" name="location" value="">
	        		</p>
	        		</div>
	        		
	        		<div class="twelvecol">
	        		<p>
	        		<button type="submit">Register</button>
	        		</p>
	        		</div>
	        		
	        		

	        		
	        		
    			    </form>
    </div>
    </div>

    
	
	<!-- END of FORM MODULE --> 
 {% endblock %}